<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/htmlHead')%>
    <title>GracefulTotes</title>
  </head>
  <body class="container">
    <%- include('./partials/header'); %>

    <div class="card-container">
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_dd5d9543998c4c0f9ecf120fac20ffb0~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_dd5d9543998c4c0f9ecf120fac20ffb0~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_15641be40e0c43d89f5426f8949b51bd~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_15641be40e0c43d89f5426f8949b51bd~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_9e18a8d563fc4774a0b917d7f5e07ff6~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_9e18a8d563fc4774a0b917d7f5e07ff6~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_1d14719f23fa4277bddd33220562c678~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_1d14719f23fa4277bddd33220562c678~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_e72efca453234bfda3baa6dde357e4d8~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_e72efca453234bfda3baa6dde357e4d8~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_f2827033127e4856b9b030067d81bba2~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_f2827033127e4856b9b030067d81bba2~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_45e21af15e5a4e2fa81bc324b0c51cbf~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_45e21af15e5a4e2fa81bc324b0c51cbf~mv2.jpg"
          alt=""
        />
      </div>
      <div class="cardes">
        <img
          src="https://static.wixstatic.com/media/45d10e_3c8908475cb04049a7341efbc73f6a73~mv2.jpg/v1/fill/w_625,h_625,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/45d10e_3c8908475cb04049a7341efbc73f6a73~mv2.jpg"
          alt=""
        />
      </div>
    </div>
    <%- include('./partials/footer'); %>
  </body>
</html>
